.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  color:orange;
  text-align: center;
  margin : 100px
}
.image-container {
  display : flex;
  align-items: center;
  justify-content: center;
  height : 350px;
  background-color : orange;
}
.card-container {
  overflow: hidden; /* Hide overflow to prevent scrolling */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  background-color : orange;
}
.card {
  width: calc(33.33% - 10px); 
  height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 40px; 
}
.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Adjust alignment as needed */
}

.nav-item {
  color: white;
  padding: 0 10px;
}

.payment {
  display: flex; /* Align images in a row */
  justify-content: center; /* Center align images horizontally */
  align-items: center; /* Center align images vertically */
  flex-wrap: wrap; /* Allow images to wrap to the next line if needed */
  margin : 50px;
}
h1 {
  -webkit-text-fill-color : orange;
  text-align : center;
}

